<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StochasticModeling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StochasticModeling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StochasticModeling.Properties.Settings>
            <setting name="UseSLD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceRQ4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSLDSingleSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSavePrompt" serializeAs="String">
                <value>False</value>
            </setting>
        </StochasticModeling.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <StochasticModeling.Properties.Settings>
            <setting name="ResumeBreakingVersion" serializeAs="String">
                <value>1.7.0</value>
            </setting>
        </StochasticModeling.Properties.Settings>
    </applicationSettings>
</configuration>